# Ignore everything
/*

# But don't ignore these directories:
!src/
!chip8_core/

# And don't ignore these files:
!.gitignore
!CMakeLists.txt

# Also make sure to not ignore files inside those folders:
src/**
chip8_core/**
